// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #fff4e8 !default;
$brandOrange: #f98d1f !default;
$brandOrangeLight: #fff4e8 !default;
$brandOrangeDark: #d97706 !default;
$accentColour: $brandOrange !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #c96f0a !default;
$hoverColour: $brandOrangeDark !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: '"Source Sans 3", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.66
) !default;

$headingtype: (
  font-family: '"Source Sans 3", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.66
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
